h2 {
    text-align: center;
    color: #ff9623;
}

#oms {
    width: 300px;
}
h3 {
    color: #2a6797;
}

#edit {
    width: 300px;
    text-align: center;
}

h5 {
    color: #2a6797;
}